<h1>Task Manager Pro 3000</h1>

<div class="tasks">

  <h2>Example of task list</h2>

  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task_done(task) %>
        <%= task.description %>
        <%= task_due_date(task) %>
      </li>
    <% end %>
  </ul>

</div>

<div class="testimonials">

  <h2>What they say about our service</h2>

  <% @testimonials.each do |testimonial| %>
    <%= render partial: "testimonials/testimonial", object: testimonial %>
  <% end %>

</div>
