<div class="testimonial">
  <img src="http://lorempixel.com/150/150/people/<%= testimonial.id %>"><br>
  <div class="name"><%= testimonial.name %></div>
  <div class="position"><%= testimonial.position %></div>
  <quote><%= testimonial.quote %></quote>
</div>
